*{
    box-sizing: border-box;
}

body{
    background-color: #131720;
    font-family: sans-serif;
}

h3{
    color: whitesmoke;
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav, a{
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}